extends ../layout

block content
  .row
    .col-md-8.col-md-offset-2
      h1="User Profile"
      hr
      h2="My Orders"
      each order in orders
        .panel.panel-default
          .panel-body
            ul.list-group
              each item in order.items
                li.list-group-item #{item.item.title} | #{item.qty}
                  span.badge=item.price       
          .panel-footer
            strong="Total Price: $ "+ order.cart.totalPrice

             